.card-conteiner {
    margin: '0 auto';
    height: 257px;
    width: 498px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 6px 30px 0px;
    background-color: bisque;
}
.card-title {
color: brown;
text-align: center;
}
